<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.noodleofdeath.SwiftyFileExplorer.themes.default</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Default Finder Theme</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>BaseTextStyle</key>
	<dict>
		<key>NSFont</key>
		<dict/>
		<key>NSAlpha</key>
		<dict/>
		<key>NSParagraphStyle</key>
		<dict/>
		<key>NSColor</key>
		<dict/>
		<key>NSBackgroundColor</key>
		<dict/>
		<key>NSLigature</key>
		<dict/>
		<key>NSKern</key>
		<dict/>
		<key>NSStrikethrough</key>
		<dict/>
		<key>NSUnderline</key>
		<dict/>
		<key>NSStrokeColor</key>
		<dict/>
		<key>NSStrokeWidth</key>
		<dict/>
		<key>NSShadow</key>
		<dict/>
		<key>NSTextEffect</key>
		<dict/>
		<key>NSAttachment</key>
		<dict/>
		<key>NSLink</key>
		<dict/>
		<key>NSBaselineOffset</key>
		<dict/>
		<key>NSUnderlineColor</key>
		<dict/>
		<key>NSStrikethroughColor</key>
		<dict/>
		<key>NSObliqueness</key>
		<dict/>
		<key>NSWritingDirection</key>
		<dict/>
		<key>NSTintColor</key>
		<dict/>
		<key>NSIconTintColor </key>
		<dict/>
		<key>NSIconAlpha</key>
		<real>1</real>
		<key>NSIconShadow</key>
		<dict/>
		<key>CTVericalForms</key>
		<dict/>
	</dict>
	<key>ResourceTypeTextStyle</key>
	<dict>
		<key>NSURLFileResourceTypeDirectory</key>
		<dict>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict/>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSIconTintColor</key>
			<dict/>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
		<key>NSURLFileResourceTypeHidden</key>
		<dict>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict>
				<key>NSColor</key>
				<integer>11184810</integer>
			</dict>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSIconTintColor</key>
			<dict>
				<key>NSColor</key>
				<integer>11184810</integer>
			</dict>
			<key>NSIconAlpha</key>
			<real>0.5</real>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
		<key>NSURLFileResourceTypeSymbolicLink</key>
		<dict>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict>
				<key>NSColor</key>
				<integer>8947967</integer>
			</dict>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSIconTintColor</key>
			<dict/>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
	</dict>
	<key>UTTypeTextStyle</key>
	<dict>
		<key>public.html</key>
		<dict>
			<key>NSFont</key>
			<dict/>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict/>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSIconTintColor</key>
			<dict>
				<key>NSColor</key>
				<integer>34816</integer>
			</dict>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
		<key>public.css</key>
		<dict>
			<key>NSFont</key>
			<dict/>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict/>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSIconTintColor</key>
			<dict>
				<key>NSColor</key>
				<integer>11175936</integer>
			</dict>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
		<key>public.swift-source</key>
		<dict>
			<key>NSFont</key>
			<dict/>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict/>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSIconTintColor</key>
			<dict>
				<key>NSColor</key>
				<integer>255</integer>
			</dict>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
		<key>public.php-script</key>
		<dict>
			<key>NSFont</key>
			<dict/>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict/>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSIconTintColor</key>
			<dict>
				<key>NSColor</key>
				<integer>16711680</integer>
			</dict>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
		<key>com.netscape.javascript-source</key>
		<dict>
			<key>NSFont</key>
			<dict/>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict/>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSIconTintColor</key>
			<dict>
				<key>NSColor</key>
				<integer>16711935</integer>
			</dict>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
	</dict>
	<key>ComponentTextStyle</key>
	<dict>
		<key>NavigationHeaderTitle</key>
		<dict>
			<key>NSFont</key>
			<dict/>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict/>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSTintColor</key>
			<dict/>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
		<key>PathToolBar </key>
		<dict>
			<key>NSFont</key>
			<dict/>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict/>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSTintColor</key>
			<dict/>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
		<key>NavigationToolbar</key>
		<dict>
			<key>NSFont</key>
			<dict/>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict/>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSTintColor</key>
			<dict/>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
		<key>SectionHeader</key>
		<dict>
			<key>NSFont</key>
			<dict/>
			<key>NSParagraphStyle</key>
			<dict/>
			<key>NSColor</key>
			<dict/>
			<key>NSBackgroundColor</key>
			<dict/>
			<key>NSLigature</key>
			<dict/>
			<key>NSKern</key>
			<dict/>
			<key>NSStrikethrough</key>
			<dict/>
			<key>NSUnderline</key>
			<dict/>
			<key>NSStrokeColor</key>
			<dict/>
			<key>NSStrokeWidth</key>
			<dict/>
			<key>NSShadow</key>
			<dict/>
			<key>NSTextEffect</key>
			<dict/>
			<key>NSAttachment</key>
			<dict/>
			<key>NSLink</key>
			<dict/>
			<key>NSBaselineOffset</key>
			<dict/>
			<key>NSUnderlineColor</key>
			<dict/>
			<key>NSStrikethroughColor</key>
			<dict/>
			<key>NSObliqueness</key>
			<dict/>
			<key>NSWritingDirection</key>
			<dict/>
			<key>NSTintColor</key>
			<dict/>
			<key>CTVericalForms</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
